.stat_spinner {
    background-color: var(--col-neutral-900);
    color: var(--col-neutral-50);
	&__item {
		display: flex;
        flex-direction: column;
        justify-content: center;
	}

	&__stat {
		font-size: var(--text-3xl);
        font-weight: var(--fw-900);
        display: flex;
        justify-content: center;
	}

	&__label {
        text-align: center;
        text-transform: uppercase;
	}
}