.text-video {
  &__wrapper {
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-noninteractive);
    overflow: hidden;
    position: relative;
  }
  &__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    display: grid;
    place-content: center;
    background-color: var(--col-secondary-400);
    img {
      max-width: 50%;
      display: block;
      margin-inline: auto;
    }
  }
  &__vimeo {
    position: relative;
    z-index: 1;
  }
}
