$col-primary: #27383A;
$col-dark: #222222;
$col-darkest: #4a4a4a;
$col-light: #f2f2f2;

:root {
    /* === Colours === */
    --hsl-neutral-50: 0 0% 100%; // white
    --col-neutral-50: hsl(var(--hsl-neutral-50));

    --hsl-neutral-900: 0 0% 12%; // #1F1F1F
    --col-neutral-900: hsl(var(--hsl-neutral-900));

    --hsl-secondary-100: 40 20% 97%; // #F9F8F6
    --col-secondary-100: hsl(var(--hsl-secondary-100));

    --hsl-secondary-300: 0 0% 85%; // #DADADA;
    --col-secondary-300: hsl(var(--hsl-secondary-300));

    --hsl-accent-500: 224 100% 74%; // #7b9fff
    --col-accent-500: hsl(var(--hsl-accent-500));


    /* === Font Sizes === */
  /* fluid type scale */
    --text-xs: clamp(0.6875rem, 0.64rem + 0.15vw, 0.75rem);    /* ~11–12px */
    --text-sm: clamp(0.8125rem, 0.77rem + 0.2vw, 0.875rem);    /* ~13–14px */
    --text-base: clamp(1rem, 0.95rem + 0.25vw, 1rem);          /* ~16px */
    --text-lg: clamp(1.25rem, 1.15rem + 0.4vw, 1.5rem);        /* ~20–24px */
    --text-xl: clamp(1.75rem, 1.55rem + 0.6vw, 2.2rem);        /* ~28–35px */
    --text-2xl: clamp(2.25rem, 2rem + 0.8vw, 2.5rem);          /* ~36–40px */
    --text-3xl: clamp(2.5rem, 2.25rem + 1vw, 3rem);          /* ~36–40px */


    /* === Font Families === */
    --ff-body: 'Nunito Sans', Tahoma, Geneva, Verdana, sans-serif;
    --ff-heading: 'Urbanist', Tahoma, Geneva, Verdana, sans-serif;

    /* === Font Weights === */
	--fw-400: 200; /* Regular */
	--fw-500: 600; /* SemiBold */
	--fw-900: 600; /* SemiBold */

    /* === Utilities === */
    --transition: 250ms ease-out;

    --h-top: 72px;
    --h-top-desktop: 130px;

    /* === Shadows === */
    --shadow-in: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; // tw 37
    --shadow-out: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; // tw 39

}
